

<h1>Home page</h1>
<p>Here you can see the main features of this web application. Every card show same use cases examples</p>
<hr>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">List of Employees</h5>
        <img src="assets/images/list_employees.png" class="card-img-top" alt="List of Employees">
        <div class="card-body">
            <h5 class="card-title">See employees</h5>
            <p class="card-text">You can see the employees of your company in a table.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">Global Search</h5>
        <img src="assets/images/global_search.png" class="card-img-top" alt="Global Search">
        <div class="card-body">
            <h5 class="card-title">Use global search in table of employees</h5>
            <p class="card-text">Global search is used to search for employees by name or surname.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <h5 class="card-header">Table Filters</h5>
            <img src="assets/images/filters.png" class="card-img-top" alt="filters">
            <div class="card-body">
                <h5 class="card-title">Use filters in table of employees</h5>
                <p class="card-text">Here you can filter for each field.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <h5 class="card-header">Create New Employee</h5>
            <img src="assets/images/new_employee.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hire a new employee</h5>
                <p class="card-text">Add a new employee filling their different data (name, surname, ...) in the form.</p>
            </div>
        </div>
    </div>
</div>
